body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #849d8f;
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
}

.visually_hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.all_content {
    min-width: 768px;
    max-width: 1300px;
    margin: 0 auto;
    background-image: url("../img/Fon.jpg");
    background-repeat: no-repeat;
}

.inner_page {
    min-width: 768px;
    max-width: 1300px;
    margin: 0 auto;
}

.inner_main_container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.555);
    color: #ffffff;
}

.breadcrumbs {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    font-size: 14px;
    list-style: none;
}

.breadcrumbs li {
    position: relative;
    display: inline;
    padding-right: 20px;
}

.breadcrumbs a {
    color: #ffffff;
    text-decoration: none;
    position: relative;
}

.breadcrumbs a::before {
    content: "";
    position: absolute;
    height: 1px;
    top: 16px;
    left: 0;
    right: 0;
    background-color: rgba(253, 254, 254, 0.4);
}

.breadcrumbs a:hover {
    color: #ffbc9e;
}

.breadcrumbs a:hover::before {
    background-color: rgba(249, 172, 159, 0.3);
}

.breadcrumbs li:not(:last-child)::after {
    content: ">>";
    position: absolute;
    top: -2px;
    right: 5px;
    -webkit-transform: scale(0.5, 1);
    -moz-transform: scale(0.5, 1);
    transform: scale(0.5, 1);
}

.filter {
    display: flex;
}

.sorting {
    font-size: 14px;
    width: 194px;
    margin-right: 14px;
}

.popularity {
    position: relative;
    width: 194px;
    overflow: hidden;
    border-radius: 18px;
    font-size: 16px;
    font-weight: 500;
}

.popylar {
    width: 130%;
    height: 36px;
    padding: 7px 15px;
    color: #ffffff;
    border-radius: 18px;
    text-indent: 0.01px;
    text-overflow: '';
    background-color: rgba(248, 247, 244, 0.2);
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.popylar:hover {
    color: #343434;
    background: #ffffff;
}

.popularity option {
    color: #343434;
    background-color: rgb(255, 255, 255);
    border: none;
}

.popularity::after {
    content: '';
    display: block;
    border: 4px solid transparent;
    border-top: 5px solid #ffffff;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -2.5px;
}

.popularity:hover::after {
    content: '';
    display: block;
    border: 4px solid transparent;
    border-top: 5px solid #333333;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -2.5px;
}

.range_filter {
    width: 218px;
    margin-right: 14px;
}

.range_controls {
    position: relative;
    width: 218px;

    margin-bottom: 0;
    padding: 16px;

    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
}

.range_controls .scale {
    height: 4px;
    background: rgba(255, 255, 255, 0.5);
}

.range_controls .bar {
    height: 4px;
    background: #ffffff;
    margin-left: 20%;
    width: 50%;
}

.range_controls .toggle {
    position: absolute;
    top: 8px;
    left: 0px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.range_controls .min_toggle {
    left: 35px;
}

.range_controls .max_toggle {
    left: 132px;
}

.range_controls .toggle:hover {
    box-shadow: 0 0 0 1px #ffffff,
    0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.container_fatness {
    width: 417px;
    margin: 0;
    margin-left: 40px;
    padding: 0;
}

.block_fatness input[type="radio"] {
    display: none;
}

.block_fatness {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 18px;
    padding: 7px 15px;
}

.container_fatness label {
    font-size: 16px;
    font-weight: 500;
    padding-right: 18px;
    padding-left: 29px;
    position: relative;
}

.container_fatness label:nth-child(8n) {
    padding-right: 0;
}

.block_fatness label::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border: 1px solid #f8f7f4;
    border-radius: 50%;
}

.container_fatness input[type="radio"]:checked + label::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #f8f7f4;
    border-radius: 50%;
}

.block_fatness label:hover::before {
    border: 2px solid #f8f7f4;
    border-radius: 50%;
}

.container_filler {
    display: flex;
}

.container_filter h1 {
    font-size: 35px;
    line-height: 30px;
    margin: 15px 0 20px;
    padding: 0;
}

.container_filter h4 {
    font-size: 14px;
    font-weight: 500;
    margin: 20px 0 8px 15px;
    padding: 0;
    line-height: 1em;
}


.container_filler label {
    font-size: 16px;
    font-weight: 500;
    padding-right: 20px;
    padding-left: 30px;
    position: relative;
}

.container_filler label:nth-child(10n) {
    padding-right: 0;
}

.container_filler input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 11px;
    height: 7px;
    border-left: 2px solid #f8f7f4;
    border-bottom: 2px solid #f8f7f4;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.block_filler {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 18px;
    padding: 7px 15px;
}

.block_filler input[type="checkbox"] {
    display: none;
}

.block_filler label::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border: 1px solid #f8f7f4;
    border-radius: 5px;
}

.block_filler label:hover::before {
    border: 2px solid #f8f7f4;
    border-radius: 5px;
}

.sort_button {
    margin-left: 20px;
    padding: 5px 30px;
    background-color: #a6b7ae;
    border-radius: 25px;
    border: 2px solid #ffffff;
    font-size: 17px;
    color: #ffffff;
}

.sort_button:hover, 
.sort_button:focus {
    background-color: #ffffff;
    color: #000000;
    outline: 0;
    border: none;
}

.sort_button:active {
    background-color: #eaeaea;
    outline: 0;
    box-shadow: inset 1px 2px 5px #6a6b6a;
    border: none;
}

.catalog_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 60px;
    padding: 0;
    text-align: center;
    text-decoration: underline solid rgba(255, 255, 255, 0.2);
}

.catalog_list li {
    max-width: 275px;
    margin: 20px 0;
}

.catalog_list .price {
    position: absolute;
    margin: 0;
    margin-top: -130px;
    font-size: 39px;
    font-weight: 700;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.411);
}

.pagination {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
}

.pagination ul {
    display: flex;
    list-style: none;
    margin-right: 25px;
    padding: 0;
}

.pagination li {
    margin: 0 3px;
}

.pagination .page:hover, 
.pagination .page:focus {
    background-color: #9db1a5;
    color: #000000;
    border-radius: 25px;
    outline: none;
}

.pagination a {
    padding: 4px 10px;
    text-decoration: none;
    color: inherit;
}

.pagination .current {
    background-color: #ffffff;
    color: #000000;
    border-radius: 25px;
}

.pagination::before {
    content: "";
    position: absolute;
    margin-top: 23px;
    width: 10px;
    height: 20px;
    background-image: url("../img/icon-right-small.svg");
    background-repeat: no-repeat;
}

.pagination::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 20px;
    margin-left: -220px;
    margin-top: 15px;
    background-image: url("../img/icon-right-small.svg");
    background-repeat: no-repeat;
    transform: rotate(180deg);
}

.main_header .give_me_both {
    position: absolute;
    margin: 585px 0 0 500px;
    padding: 15px 40px;
    font-size: 36px;
    border-radius: 35px;
}

.button {
    padding: 15px 35px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    border: none;
    border-radius: 25px;
    box-shadow: 0 1px 3px #9e4334;
    background: linear-gradient(to top, #e74b36, #f26843);
}

.button:hover,
.button:focus {
    background: linear-gradient(to top, #ec6f5e, #f58669);
    box-shadow: 0 1px 3px #ac1000;
    outline: none;
}

.button:active {
    background: linear-gradient(to top, #e1603e, #d74632);
    box-shadow: inset 0 1px 3px #952718;
    outline: none;
}

.main_header {
    display: flex;
    justify-content: space-between;
}

.main_header ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.site_navigation li {
    margin: 10px 25px;
    font-size: 17px;
    font-weight: 700;
}

.site_navigation a {
    padding: 5px 10px;
    text-decoration: none;
    color: #ffffff;
}

.site_navigation .current_page {
    background-color: #d07058;
    border-radius: 25px;
    padding: 5px 5px;
}

.site_navigation .link:hover {
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    border-radius: 25px;
}

.site_navigation .link:active {
    box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.6);
}

.user_button {
    font-size: 17px;
    padding: 10px 18px;
    padding-left: 45px;
    margin: 0 10px;
    color: #ffffff;
    background-color: #9db1a5;
    border: none;
    border-radius: 20px;
}

.user_button:hover {
    background-color: #ffffff;
    color: #000000;
    font-weight: 700;
    stroke: #000000;
    fill: #000000;
}

.user_button svg {
    position: absolute;
    margin-left: -30px;
}

.loupe {
    width: 50px;
    height: 40px;
    padding: 7px 10px;
    border-radius: 70px;
}

.loupe svg {
    margin: 0;
    margin-top: -10px;
    margin-left: -10px;
}

.main_container {
    margin-top: 640px;
}

.banners {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #ffffff;
}

.banners h2 {
    font-size: 35px;
    margin: 30px 20px 10px;
}

.banners p {
    display: block;
    font-size: 18px;
    margin: 0 20px;
}

.banners .button {
    margin-left: 373px;
    margin-top: 50px;
}

.malina_banner {
    max-width: 600px;
    min-height: 230px;
    background-image: url("../img/malina.jpg");
    background-repeat: no-repeat;
    border-radius: 25px;
}

.chocolate_banner {
    max-width: 600px;
    min-height: 230px;
    background-image: url("../img/chocolate.jpg");
    background-repeat: no-repeat;
    border-radius: 25px;
}

.hits {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 60px;
    padding: 0;
    color: #ffffff;
    text-align: center;
    text-decoration: underline solid rgba(255, 255, 255, 0.2);
}

.hits li {
    max-width: 275px;
    margin: 20px 0;
}

.hits li::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    background-image: url("../img/hit.png");
    background-repeat: no-repeat;
}

.hits .price {
    position: absolute;
    margin: 0;
    margin-top: -130px;
    font-size: 39px;
    font-weight: 700;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.411);
}

.seo {
    max-width: 1300px;
    background-image: url("../img/vafle.jpg");
    border-radius: 25px;
}

.seo h3 {
    font-size: 24px;
    margin: 0;
    padding: 32px 21px 10px;
}

.seo_lists {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.seo_list {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.seo_list li {
    margin-left: 80px;
    max-width: 600px;
}

.seo_list p {
    margin: 0;
}

.seo_list .item1::before {
    content: "";
    position: absolute;
    width: 49px;
    height: 49px;
    background-image: url("../img/ice-cream.svg");
    margin-top: 10px;
    margin-left: -60px;
}

.seo_list .item2::before {
    content: "";
    position: absolute;
    width: 49px;
    height: 49px;
    background-image: url("../img/cow.svg");
    margin-top: 10px;
    margin-left: -60px;
}

.seo_list .item3::before {
    content: "";
    position: absolute;
    width: 49px;
    height: 49px;
    background-image: url("../img/eco.svg");
    margin-top: 10px;
    margin-left: -60px;
}

.seo_list .item4::before {
    content: "";
    position: absolute;
    width: 49px;
    height: 49px;
    background-image: url("../img/thermometer.svg");
    margin-top: 10px;
    margin-left: -60px;
}

.blog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}

.news {
    width: 600px;
    min-height: 220px;
    background-image: url("../img/strawberry.jpg");
    background-color: #ffffff;
    background-position: 100%;
    background-repeat: no-repeat;
    border-radius: 25px;
}

.news p {
    display: block;
    margin-left: 20px;
    margin-top: 25px;
    color: #323232;
    font-size: 16px;
    font-weight: 500;
}

.news h2 {
    width: 290px;
    font-size: 24px;
    margin-left: 15px;
    background-color: rgba(255, 255, 255, 0.479);
}

.mail_block {
    width: 560px;
    background-image: url("../img/postafon.jpg");
    border-radius: 25px;
}

.internal_mail_block {
    width: 550px;
    background-color: #ffffff;
    border-radius: 25px;
    margin: auto;
    margin-top: 5px;
    padding: 0 0 30px;
}

.internal_mail_block p {
    margin: 0;
    padding: 34px 25px;
    color: #848484;
}

.mail_form {
    display: flex;
    justify-content: space-evenly;
}

.mail_form input[type=text] {
    width: 310px;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 0 15px;
}

.mail_form input[type=text]:hover, 
.mail_form input[type=text]:focus {
    border: 2px solid rgba(0, 0, 0, 0.4);
}

iframe {
    margin-top: 50px;
    border-radius: 25px;
}

.communication_form {
    width: 280px;
    position: absolute;
    padding: 30px 30px;
    margin-top: -480px;
    margin-left: 900px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.411);
}

.communication_form p {
    margin: 0;
    font-size: 14px;
}

.communication_form h4 {
    font-size: 18px;
    margin: 0;
}

.communication_form :nth-child(2) {
    margin-top: 5px;
    margin-bottom: 25px;
}

.communication_form .button {
    min-width: 280px;
    margin-top: 30px;
}

.main_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.main_footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main_footer p {
    color: #ffffff;
}

.main_footer a {
    text-decoration: none;
    color: #ffffff;
}

.main_footer a:hover {
    color: #ffbc9e;
}

.footer_social {
    display: flex;
}

.footer_social li {
    margin-right: 15px;
}

.footer_social svg path:hover,
.footer_social svg path:focus,
.footer_social g:hover,
.footer_social g:focus {
    fill: #ffbc9e;
}

.footer_menu {
    display: flex;
}

.footer_menu li {
    margin: 10px 20px;
}

.footer_menu .icon::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    margin-left: -22px;
    margin-top: 3px;
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
}